.outbox{
    /* max-width: 80%;
    margin: 0 auto;
    padding: 0 auto; */
    /* text-align: center; */
}

.typing {
    /* margin: auto; */
    width: 52.5em; height: 1.25em;
    border-right: 1px solid transparent;
    animation: typing 8.5s steps(53, end), blink-caret .75s step-end infinite;
    font-family: Consolas, Monaco;
    word-break: break-all;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
    to { width: 52.5em; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: currentColor; }
}